Value CreatedTime (....-..-.....:..:...........)
Value Digest (\S+)
Value LastUpdateTime (....-..-.....:..:...........)
Value Name (\S+)
Value Signed (True|False)

Start
  ^${Time} ${Timezone} ${WeekDay} ${Month} ${MonthDay} ${Year} -> Record