Value CreatedTime (....-..-.....:..:...........)
Value Digest (\S+)
Value LastUpdateTime (....-..-.....:..:...........)
Value Name (\S+)
Value Signed (True|False)

Start
  ^${CreatedTime} ${Digest} ${LastUpdateTime} ${Name} ${Signed} -> Record